@import url('bluish.css') print, screen;
@import 'common.css' screen;
@import url('landscape.css') screen and (orientation: landscape);

@supports (display: flex) {
  @media screen and (min-width: 900px) {
    * {
      box-sizing: border-box;
    }

    #main {
      background: url('./bg.png') center center no-repeat;
      width: 100%;
      height: 200px;
    }

    button:hover + span::after {
      background-color: rgba(255, 255, 255);
    }
  }
}

@layer default {
  audio[controls] {
    display: block;
  }
}
